@import "tailwindcss";

:root {
    --bg-color: #ffffff;
    --text-color: #333333;
    /* other light mode variables */
  }
  
  .dark {
    --bg-color: #1a1a1a;
    --text-color: #f0f0f0;
    /* other dark mode variables */
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }